<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" title="Angular App">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angular App</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard<small>(App layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile<small>(App layout)</small></a>
      </li> -->
    </ul>
  </div>
</nav>
<style>
.bg-inverse {
    background-color: #0056b3!important;
}
</style>